
@{
    ViewBag.Title = "Succes";
}

<h2>Profil Utilizator</h2>

<div class="card text-white bg-success mb-3">
    <div class="card-header">Succes!</div>
    <div class="card-body">
        <h4 class="card-title">Pagina de profil a fost modificată</h4>
        <p class="card-text">Informațiile din pagina de profil au fost actualizate. Pentru a calcula aportul alimentar corect, vă încurajăm să le modificați de câte ori este nevoie.</p>
    </div>
</div>

<div>
    @Html.ActionLink("Înapoi la pagina principală", "Index", "Home")
</div>