@{
    ViewBag.Title = "Informații";
}

<h1>@ViewBag.Title.<br></h1>

<h2><br>De ce să donez sânge?</h2>
<p> Unul din zece pacienți care ajung la spitalele din România are nevoie de sânge sau de produse derivate din sânge. Statistic, fiecare om de pe planetă are nevoie- pe parcursul vieții- cel puțin o singură dată de sânge. Statistic, România este pe ultimele locuri în ce privește donarea benevolă de sânge, iar multe intervenții chirurgicale din țară sunt amânate. Creșterea cantității de sânge în unitățile spitalicești din România scade numărul de abuzuri și cazuri de corupție bazate pe traficul de sânge.</p>

<h2>Ce să fac înainte de a dona sânge?</h2>
<p>
    <ul>
        <li class="a">Este recomandabil să iei o gustare înainte de a dona</li>
        <li>Micul dejun poate fi bogat în lichide și glucide (ceai sau cafea dulce, sandwitch, pâine cu dulceață). Înainte de donare, se evită mesele copioase, cu grăsimi și băuturi alcoolice</li>
        <li>Nu ai voie să consumi alcool cu 24 de ore înainte de a dona sânge</li>
        <li>Nu ai voie să fumezi înainte și după ce ai donat sânge</li>
        <li>De asemenea, vino să donezi odihnit, nu după o noapte pierdută la serviciu, în cluburi sau la calculator.</li>
    </ul>
</p>

<h2>Ce condiții trebuie să îndeplinesc pentru a dona sânge?</h2>
<p>
    Donatorul de sânge este orice cetățean român cu domiciliul în România sau orice cetățean al UE care are reședința în România, este sănătos și se supune regulilor de prelevare a sângelui. Alte condiții, conform Centrului de Transfuzii Sanguine București, România:<br>
    <ul class="b">
        <li style="content: '\1F95E';">Vârsta cuprinsă între 18-60 ani</li>
        <li>Greutate peste 50 Kg</li>
        <li>Puls regulat, 60 -100 bătăi/ minut</li>
        <li>Tensiune arterială sistolică între 100 și 180 mmHg</li>
        <li>Să nu fi suferit în ultimele 6 luni intervenții chirurgicale</li>
        <li>Femeile să nu fie: însarcinate, în perioada de lăuzie, în perioada menstruală</li>
        <li>Să nu fi consumat grăsimi sau băuturi alcoolice cu cel puțin 48 de ore înaintea donării</li>
        <li>Să nu fii sub tratament pentru diferite afecțiuni: hipertensiune, boli de inimă, boli renale, boli psihice, boli hepatice, boli endocrine</li>
    </ul>
</p>

<h2>Donatorii nu trebuie să aiba sau sa fi avut urmatoarele boli:</h2>
<p>
    <ul>
        <li>Hepatită (de orice tip)</li>
        <li>TBC</li>
        <li>Sifilis</li>
        <li>Malarie</li>
        <li>Epilepsie și alte boli neurologice</li>
        <li>Boli psihice</li>
        <li>Bruceloză</li>
        <li>Ulcer</li>
        <li>Diabet zaharat</li>
        <li>Boli de inimă</li>
        <li>Boli de piele: psoriazis, vitiligo</li>
        <li>Miopie forte peste (-) 6 dioptrii</li>
        <li>Cancer</li>
    </ul>
</p>

<h2>Criterii de excludere permanentă:</h2>
<p>
    <ul>
        <li>Afecțiuni cardiovasculare (inclusiv hipertensiune arterială cronică în tratament, angină pectorală)</li>
        <li>Traumatisme craniene cu sechele</li>
        <li>Etilism cronic; schizofrenie; epilepsie; hepatită cronică, ciroză hepatică; sifilis; pancreatită; cancer, leucemii; diabet zaharat; tuberculoză</li>
        <li>Hiperlipidemie; astm bronşic; alergie severă; boli endocrine; lupus eritematos diseminat și alte colagenoze; psoriazis generalizat; persoanele pensionate medical, indiferent de diagnosticul de pensionare</li>
    </ul>
</p>

<h2>Criterii de excludere temporară:</h2>
<p>
    <ul>
        <li>Boli infecţioase (gripă, infecții bacteriene)</li>
        <li>Anemie; examinare endoscopică, transfuzii, intervenții chirurgicale, tatuaje, contact apropiat cu persoane cu hepatită, HIV</li>
        <li>Vaccinări; sarcină, alăptare; tratamente dentare</li>
        <li>Consum de alcool în ultimele 24 de ore</li>
        <li>Consum de medicamente</li>
    </ul>
</p>

<h2>Unde pot sa donez?</h2>
<p>O persoană poate să doneze în orice Centru Județean de Transfuzii din fiecare județ. </p>

<h2>Cat de des pot sa donez?</h2>
<p> Intervalul minim între donari este de 8 săptămâni, dar numărul de donări nu trebuie să depășească 3 donări / an la femei și 4-5 donări / an la bărbați.</p>

<h2>După ce donez, ce se întâmplă cu sângele meu?</h2>
<p>După ce sângele este prelevat, acesta este depozitat în depozitul frigorific de ‘carantinare’ și apoi testat pentru a vedea dacă este sănătos. Testele obligatorii sunt Ag-Ab, HIV 1, 2, anti HTLV 1, 2, hemoleucograma, grupajul sanguin, Rh-ul, anticorpii iregulari, testul anti HCV, testul AgHBs, testarea pentru lues, ALT. Dacă testele arată că sângele tău este sănătos, acesta și produsele derivate sunt validate și apoi distribuite spitalelor. Dacă rezultatele ridică probleme, testele sunt repetate. Dacă rezultatele indică boli, analizele sunt puse la dispoziția donatorului, iar sângele donat este incinerat. Analizele pot fi repetate la 75 sau 120 de zile. Donatorul cu analize neconforme este înștiințat că nu poate dona sânge.</p>

<h2>De ce este bine să donez?</h2>
<p>
    <ul>
        <li>Persoanele care donează sânge regulat prezintă un risc mai scăzut de infarct și accident vascular cerebral.</li>
        <li>Donarea de sânge crește imunitatea și rezistența la traumatisme.</li>
        <li>Donarea este recomandată persoanelor hipertensive, care nu urmează un tratament pentru această afecțiune.</li>
        <li>După fiecare donare, sângele din corp se „reîmprospatează”, în felul acesta capacitatea organismului de a lupta împotriva infecțiilor fiind mult mai mare.</li>
        <li>Persoanele care donează sânge de doua ori pe an prezintă o rată mai mică de cancer si o rată de mortalitate mai mică decât cele care nu donează sânge, însă trebuie să aibă loc donări regulate, nu ocazionale.</li>
        <li>Alte beneficii pe care le aduce donarea de sânge sunt legate de scăderea cantității de fier din organism. Un nivel crescut de fier în sânge poate accelera procesul de oxidare al colesterolului și duce în timp la apariția afecțiunilor cardiovasculare.</li>
    </ul>
</p>

<h2>Ce riscuri există în timpul procesului de donare?</h2>
<p>Pentru donator, nu există niciun risc. În laboratoare și în centrele de transfuzii, în procesul de recoltare, se utilizează doar ustensile și obiecte sanitare cu unică folosință. Pentru primitor, riscurile sunt înlăturate pentru că fiecare cantitate de sânge recoltată este testată din toate punctele de vedere, iar dacă nu este conform, sângele este incinerat. </p>

