@{
    ViewBag.Title = "Home Page";
}

<p>
    <br>
    <br>
</p>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Bun venit!   <img src="~/Pictures/logo.png" alt="Sample Photo" width="140" style="float:right;" />  </h1>
        <p class="lead">Ce veți face astăzi?</p>
        <hr class="my-4">
    </div>
}
else
{
    <div class="jumbotron">
        <h1>Bun venit!   <img src="~/Pictures/logo.png" alt="Sample Photo" width="140" style="float:right;" />  </h1>
        <p class="lead">Drop este o aplicație de monitorizare a donatorilor de sânge.</p>
        <hr class="my-4">
        <p>Prin intermediul Drop, vă puteți asigura că faceți toți pașii necesari pentru a dona în siguranță.</p>
        <p>Pentru a începe, vă rugăm să vă autentificați sau să vă creați un cont de utilizator</p>
    </div>
}
